* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #library, .menu, .book  {
    height: 100%;
}
/* style defaults */


body {
    padding: 80px;

    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
body section {
    border: 5px solid rgb(0, 0, 0);
}
/* main container */


#library {
    flex: 0 1 1210px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(auto-fit, 100px);
}

.bookContainer {
    margin: 10px;

    position: relative;
}

.book {
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.book:hover {
    transform: scale(1.05);
}

.rotated-text {
    font-size: 18px;
    text-align: center;

    padding-right: 40px;

    display: inline-block;
    transform: rotate(-90deg);
    white-space: nowrap;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.raedStatus {
    font-size: 12px;
    text-align: center;

    width: 100%;

    padding: 5px;
    margin: 0 5px;

    border: 1px solid rgb(0, 0, 0);
}

.deleteBook {
    padding: 5px 10px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;

    position: absolute;
    bottom: -15px;
    right: -15px;

    background-color: rgb(255, 255, 255);
}

.deleteBook:hover {
    transform: scale(1.1);

    font-size: 20px;
    font-weight: bold;
}
/* book storage area */


.menu {
    padding: 15px;

    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu h1 {
    font-size: 28px;
    font-weight: bold;

    margin-bottom: 20px;
}

fieldset {
    border-style: none;

    display: flex;
    gap: 15px;
    flex-direction: column;
}

input, select {
    width: 100%; /* Поля занимают всю доступную ширину */
    padding: 5px; /* Внутренний отступ для удобства */
    margin-bottom: 10px; /* Отступ между полями */
    border: 1px solid #000; /* Граница для всех полей */
    border-radius: 5px; /* Скруглённые углы (опционально) */
    box-sizing: border-box; /* Учитываем padding в ширине */
    font-size: 14px; /* Размер текста */
}

button {
    width: 100%; /* Кнопка тоже будет ровной */
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}
/* interaction panel */